@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:100,300,400,500,700,900");

* {
  box-sizing: border-box;
}

.app{
  display: flex;
  flex-direction: row;
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  background-color: black;
}