@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:100,300,400,500,700,900");

* {
  box-sizing: border-box;
  color: white;
}

body{
  height: 100%;
  background-color: #090d18; 
}

.body{
  display: flex;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  justify-content:center;
}

.main-content{
  background-color: #171e31;
  padding: 50px;
  height: 100%;
  width: 100%;
  border-top-right-radius: 50px;
  /* border-bottom-right-radius: 50px; */
}

.main-content .header{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.header h1{
  margin: 0px;
}

.header form{
  margin-left: auto;
}

.input{
  border-radius: 8px;
  background-color: #ebebeb;
  width: 200px;
  display: flex;
  flex-direction: row;
}

input{
  font-size: 14px;
  font-weight: 500;
  color: #797979;
  width: 155px;
  padding: 8px 15px;
  border: 0px;
  background-color: transparent;
}

textarea:focus, input:focus{
  outline: none;
}

.main-content button{
  color: white;
  font-size: 18px;
  background-color: #171e31;
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
  margin: 5px;
}

.search-icon{
  vertical-align: middle;
}

.song{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}

.song img{
  object-fit: cover;
  width: 70px;
  height: 70px;
  border: 5px solid #ebebeb;
  border-radius: 15px;
  margin-right: 20px;
  box-shadow: 0px 0px 13px 0.5px rgba(218, 218, 218);
}

.song-info h1{
  font-size: 17px;
  margin: 0px;
}

.song-info p{
  font-size: 14px;
  margin: 0px;
  font-weight: 600;
  color: #969696;
}

button:focus {
  outline:0;
}
