.side-bar{
  background-color: black;
  color: white;
  width: 500px;
  margin: 20px;
  margin-left: 0px;
  padding: 30px;
}

.player{
  text-align: center;
}

.player h1, .player p{
  text-align: center;
}

.player img{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  text-align: center;
  position: relative;
}

.player button {
  font-size: 50px;
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
}